page-login {

    .div-login{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .div-img{
            text-align: center;
            img{
                width:90%;
            }
        }
    }

    .input-login{
        border:1px solid black;
        border-radius: 5px;
    }

    .footer{
        color:white;
        background:color($colors, primary);
        height: 5%;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    
}
